@import url('https://fonts.cdnfonts.com/css/inter');

@import url('https://fonts.cdnfonts.com/css/epilogue-2');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
     box-sizing: border-box;
}
.container { 
    background-color: #1433D6;
}
.alert {
     /* border: 2px solid black; */
     display: flex;
     justify-content: space-between;
     font-family: 'Inter', sans-serif;
     font-size: 14px;
     background-color: #1433D6;
     padding: 10px;
     width: 84%;
     margin: auto;
     padding: 10px;
}
.alert-text a {
    color: white;                                               
}
.alert-text a:hover {
    text-decoration: underline;
}

.alert-list {
    display: flex;
    gap: 1em;
}

.alert-list a {
     color: white;  
}

.alert-list a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}
.fa-solid.fa-arrow-right {
    color: white;
}

nav{
    display: flex;
    /* border: 2px solid black; */
    margin: auto;
    justify-content:space-between;
    align-items: center;
    width: 82%;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}
.middle {
    display: flex;
}
.navlist {
    display: flex;
    gap: 2em;
}
.navlist li a {
    color: #4D5B8D;
    font-size: 16px;
    font-weight: 400;
    padding:10px ;
}
.navlist a:hover {
    background-color: #e4e6ec;
    border-radius: 30px;
    padding:10px ;
}
.registration {
    display: flex;
    gap: 1em;
    align-items: center;
}
.login {
    color: #4D5B8D;
    border: none;
    border-radius: 30px;
    padding:10px ;
}
.login:hover {
    background-color: #e4e6ec;
    border-radius: 30px;
    padding:10px ;

}

.signup {
       background-color: #0069FF ;
       padding: 10px 15px;
       border-radius: 20px;
       font-weight: 500;
       font-size: 16px;
       color: white;
       font-family: 'Inter', sans-serif;
}

.signup:hover {
       background-color: #09188a;
}

.herosect {
    /* background-color: #112DC8; */
    background-image: linear-gradient(#031184, #0B4DEA);
    padding: 130px 0px;
}
/* .intro {
    display: flex;
    width: 68%;
    margin: auto;
    padding-top: 150px;
    margin-bottom: 40px;
    border: 2px solid white; */
.intro {
    color: white;
    font-size: 48px;
    font-weight: 700 ;
    font-family: 'Epilogue', sans-serif;
    text-align: center;  
    padding-bottom: 40px;                                             
}

.sign-options {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
    /* border: 2px solid wheat; */
    margin-bottom: 50px;
    
}
.sign {
    color: white;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
}
.sign.email {
    border: 2px solid white;
    padding: 10px 35px;
    border-radius: 20px;
    /* box-shadow: 5px 5px 16px 1px white; */
}

.sign.email:hover {
    background-color: white;
    color: black;
    box-shadow: 5px 5px 20px 1px white;
}
.sign.google {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: white;
    color: black;
    border: thin solid white;
    padding: 8px 20px;
    border-radius: 20px;
}

.sign.google:hover {
       box-shadow: 5px 5px 20px 1px white; ;
}
.sign.github {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: white;
    color: black;
    border: thin solid white;
    padding: 8px 25px;
    border-radius: 20px;
}
.sign.github:hover {
    box-shadow:  5px 5px 20px 1px white;;
}

.video-box {
    /* border: 2px solid white; */
    align-items: center;
    display: flex;
    /* padding: 0px 40px; */
    padding-bottom: 25px;
}
.video {
    width: 60%;
    margin: auto;
    border-radius: 16px;
}

.enterprise {
    /* border: 2px solid white; */
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 400 ;
    width: 50%;
    margin: auto;
    padding: 50px ;
    font-family: 'Inter', sans-serif;
}

.marq-flow {
    width: 80%;
    /* border: 2px solid white; */
    display: flex;
    margin: auto;
    gap: 2em;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.sect-two {
    padding: 100px 200px;
}
.sect-two p {
    text-align: center;
    /* font-size: 16px ; */
    /* font-weight: 400; */
}
.p1 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Epilogue', sans-serif;
}
.p2 {
    margin-bottom: 80px;
}

.sect2-list {
    display: flex;
    justify-content: center;
    gap: 2em;
}
.sect2-list a {
    font-size: 16px;
    font-weight: 500;
    color: #4D5B8D;
    /* background-color: #dfe0e3 ; */
    padding: 10px 18px;
    border-radius: 20px;
}
.sect2-list a:hover {
    color: white ;
    padding: 10px 18px;
    border-radius: 20px;
    background-color: #1433D6
}
.sect2-list a:focus {
    background-color: #dfe0e3 ;
    color: black;
} 
 .sect2-list a:active {
    background-color: #dfe0e3 ;
    color: black;
} 
.sect2-list a:focus:hover{
    background-color: #1433D6;
    color: white ;
}
.video-box2 {
    width: 75%;
    /* border: 3px solid black; */
    margin: auto;
    background-image: url(../images/backgrnpic.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
     /* padding: 50px;  */
    margin-bottom: 30px;
    padding: 5% 0%;
}
.inner-video {
     width: 100%;
     border-radius: 20px ;
}
hr {
    margin-bottom: 50px;
} 
.invid-container {
      width: 82%;
      margin: auto ;
}

.sect2-btn {
    display: flex;
    gap: 1em;
    justify-content: center;
} 
.sect2-btn a {
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}
.start {
    background-color: #0069FF;
    color: white;
}
.start:hover {
    background-color: #1433D6;

}
.learn {
    border: 1px solid #4D5B8D;
    color: #4D5B8D;

}
.learn:hover {
    background-color: #1433D6;
    color: white;

}